@import "../../../styles/constants.css";

.container {
	margin: 0 20px;
	height: 100%;
	font-size: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--brandColor-lightBlue);
}