@import "../../../../styles/constants.css";

.footer {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.title {
	font-family: var(--brandFont-arial);
}

.nav {
	width: 33%;
	display: flex;
	align-items: center;
	font-family: arial;
}

.nav-item {
	color: var(--brandColor-black);
	margin-right: 10px;
	text-decoration: none;
}

.nav-item:hover 
{
	color: var(--brandColor-lightBlue);
	text-decoration: none;
	cursor: pointer;
}

.social {
	width: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social div {
	width: 25px;
	height: 25px;
	background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  cursor: pointer;
}

.facebook {
	background-image: url('./icons/facebook.png');
}

.facebook:hover {
	border-radius: 50%;
	background-color: var(--brandColor-facebook);
}

.linkedin {
	background-image: url('./icons/linkedin.png');
}

.linkedin:hover {
	border-radius: 50%;
	background-color: var(--brandColor-linkedIn);
}

.skype {
	background-image: url('./icons/skype.png');
}

.skype:hover {
	border-radius: 50%;
	background-color: var(--brandColor-skype);
}

.github {
	background-image: url('./icons/github.png');
}

.github:hover {
	border-radius: 50%;
	background-color: var(--brandColor-lightGray);
}

.copyright {
	width: 33%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}